# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# GOROOT
export PATH=$PATH:/usr/local/opt/go/libexec/bin
# GOPATH
export GOPATH=$HOME/go
export PATH=$PATH:$GOPATH/bin

